.vagrant
/bootstrap/compiled.php
/vendor
/public/system
/public/userfiles
/public/widgets
/public/rss
/public/images/sights
/public/images/banners_guidemap
/public/images/photos
/app/storage
/app/config
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
_ide_helper.php
/.idea