<!DOCTYPE html>
<html class="page404">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>CBGram</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- CBGram - Express Site CB Grammatica - v.1.0 -->
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- WRAPPER -->
<div class="wrapper">

    <!-- HEADER -->
    <header class="header centered">
        <div class="container htop">
            <div class="row text-center">
                <div class="logo">
                    <a href="index.html">CBGram</a>
                </div>
                <div class="slogan">Express Site CB Grammatica</div>
            </div>
        </div>
    </header>
    <!-- /.header -->

    <!-- CONTENT -->
    <div class="content container text-center">
        <div class="page-header">
            <h1>505 <small>The website is unable to display the webpage</small></h1>
        </div>
        <a class="btn btn-primary" href="index.html">Home</a>
    </div>
    <!-- /.content -->

</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="text-center">
    <p>&copy; 2014 CBGram. All Rights Reserved</p>
</footer>
<!-- /footer -->

<!-- ScrollTop Button -->
<a href="#" class="scrolltop">
    <i class="custom-icon custom-icon-scrolltop"></i>
</a>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.plugins.js"></script>
<script src="js/custom.js"></script>
</body>
</html>