<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>CBGram</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- CBGram - Express Site CB Grammatica - v.1.0 -->
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- WRAPPER -->
<div class="wrapper">

    <!-- HEADER -->
    <header class="header sides">
        <div class="container htop">
            <div class="col-md-8 col-sm-7">
                <div class="col-md-6 contact-info">
                    <span class="phone">+5 489 956 128</span>
                    <a class="a-email" href="mailto:info@CBGram.com">info@CBGram.com</a>
                </div>
                <div class="logo pull-left">
                    <a href="index.html">CBGram</a>
                </div>
                <div class="slogan hidden-xs">Express Site CB Grammatica</div>
            </div>
            <div class="col-md-4 col-sm-5 text-right">
                <div class="hcart pull-left">
                    <a href="cart.html"><i class="custom-icon custom-icon-ico-cart"></i> 4 items - $164,50</a>
                    <div class="dropdown">
                        <nav>
                            <ul class="hcart-list">
                                <li>
                                    <a href="product.html" class="fig pull-left"><img src="http://placehold.it/60x108" alt=""></a>
                                    <div class="block">
                                        <a href="product.html">Koppel 417 Crhonograph</a>
                                        <div class="cost">1 x $67,50</div>
                                    </div>
                                </li>
                                <li>
                                    <a href="product.html" class="fig pull-left"><img src="http://placehold.it/60x78" alt=""></a>
                                    <div class="block">
                                        <a href="product.html">Georg Teapot</a>
                                        <div class="cost">2 x $39,00</div>
                                    </div>
                                </li>
                                <li>
                                    <a href="product.html" class="fig pull-left"><img src="http://placehold.it/60x92" alt=""></a>
                                    <div class="block">
                                        <a href="product.html">Glow Candelholder</a>
                                        <div class="cost">1 x $19,00</div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div class="hcart-total">
                            <a href="cart.html" class="btn btn-default">Cart</a>
                            <div class="total">Total - <ins>$164,50</ins></div>
                        </div>
                    </div>
                </div>
                <a href="" data-popup="login" class="a-login btn btn-primary pull-right">Login</a>
            </div>
        </div>
        <div class="hbottom right-pos">
            <div class="container">
                <div class="col-md-4 col-sm-3 logo not-sticky">
                    <a href="index.html">CBGram</a>
                </div>
                <div class="col-md-1 col-sm-2 iconmenu pull-right">
                    <a href="" class="a-search"><i class="custom-icon custom-icon-ico-search"></i></a>
                    <a href="" class="a-menu"><i class="custom-icon custom-icon-ico-menu"></i></a>
                </div>
                <div class="col-md-4 contact-info">
                    <span class="phone">+5 489 956 128</span>
                    <a class="a-email" href="mailto:info@CBGram.com">info@CBGram.com</a>
                </div>
                <div class="col-md-7 col-sm-10 mainmenu">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <nav>
                            <ul class="nav navbar-nav text-center">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Home</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="start_business.html">Business</a></li>
                                        <li><a href="start_ecommerce.html">eCommerce</a></li>
                                        <li><a href="start_agency.html">Agency</a></li>
                                        <li><a href="start_portfolio.html">Portfolio</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown"  class="dropdown-toggle" href="#">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown dropdown-submenu">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">About Us</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="about_1.html">About Us</a></li>
                                                <li><a href="about_2.html">About Us 2</a></li>
                                                <li><a href="about_3.html">About Us 3</a></li>
                                                <li><a href="about_4.html">About Us 4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about_me.html">About Me</a></li>
                                        <li><a href="history.html">Our History</a></li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Photo Gallery</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="gallery_1.html">Photo Gallery</a></li>
                                                <li><a href="gallery_2.html">Photo Gallery 2</a></li>
                                                <li><a href="gallery_3.html">Photo Gallery 3</a></li>
                                                <li><a href="gallery_4.html">Photo Gallery 4</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Services</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="services_1.html">Services</a></li>
                                                <li><a href="services_2.html">Services 2</a></li>
                                                <li><a href="services_3.html">Services 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="single_services.html">Single Service</a></li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Our Team</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="team_1.html">Our Team</a></li>
                                                <li><a href="team_2.html">Our Team 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="team_person.html">Team Person</a></li>
                                        <li><a href="vacancies.html">Jobs</a></li>
                                        <li><a href="single_vacancy.html">Single Job</a></li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pricing</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="pricing_1.html">Pricing</a></li>
                                                <li><a href="pricing_2.html">Pricing 2</a></li>
                                                <li><a href="pricing_3.html">Pricing 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Our Clients</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="clients_1.html">Our Clients</a></li>
                                                <li><a href="clients_2.html">Our Clients 2</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Testimonials</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="testimonials_1.html">Testimonials</a></li>
                                                <li><a href="testimonials_2.html">Testimonials 2</a></li>
                                                <li><a href="testimonials_3.html">Testimonials 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">FAQ</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="faq_1.html">FAQ</a></li>
                                                <li><a href="faq_2.html">FAQ 2</a></li>
                                                <li><a href="faq_3.html">FAQ 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Contact Us</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="contact_1.html">Contact Us</a></li>
                                                <li><a href="contact_2.html">Contact Us 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="sitemap.html">Site Map</a></li>
                                        <li><a href="search_results.html">Search Result</a></li>
                                        <li><a href="text.html">Text Page</a></li>
                                        <li><a href="coming_soon.html">Coming Soon</a></li>
                                        <li><a href="under_construction.html">Under Construction</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                        <li><a href="505.html">505 Error</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-menutable">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Elements</a>
                                    <div class="menutable dropdown-menu">
                                        <div class="divtable">
                                            <div class="col-md-3">
                                                <h4>Sections</h4>
                                                <ul>
                                                    <li><a href="sections_title_large.html">Large Title Section</a></li>
                                                    <li><a href="sections_title_medium.html">Medium Title Section</a></li>
                                                    <li><a href="sections_title_small.html">Small Title Section</a></li>
                                                    <li><a href="sections_image.html">Image Section</a></li>
                                                    <li><a href="sections_parallax.html">Parallax Section</a></li>
                                                    <li><a href="sections_solid_color.html">Solid Color Section</a></li>
                                                    <li><a href="sections_video.html">Video Section</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>Elements</h4>
                                                <ul>
                                                    <li><a href="elements_counters.html">Zero Counters</a></li>
                                                    <li><a href="elements_vertical_bars.html">Vertical Progress Bars</a></li>
                                                    <li><a href="elements_horizontal_bars.html">Horizontal Progress Bars</a></li>
                                                    <li><a href="elements_pie_chart_text.html">Pie Chart Text</a></li>
                                                    <li><a href="elements_pie_chart_icons.html">Pie Chart Icons</a></li>
                                                    <li><a href="elements_process_icons.html">Process Icons</a></li>
                                                    <li><a href="elements_process_text.html">Process Text</a></li>
                                                    <li><a href="elements_clients_carousel.html">Clients Carousel</a></li>
                                                    <li><a href="elements_team_rounded.html">Team Rounded</a></li>
                                                    <li><a href="elements_team_tiled.html">Team Tiled</a></li>
                                                    <li><a href="elements_photo_gallery.html">Photo Gallery</a></li>
                                                    <li><a href="elements_expanded_section.html">Expanded Secion</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>&nbsp;</h4>
                                                <ul>
                                                    <li><a href="elements_CBGram_icons.html">CBGram Icons</a></li>
                                                    <li><a href="elements_pricing_tables.html">Pricing Tables</a></li>
                                                    <li><a href="elements_service_table.html">Service Table</a></li>
                                                    <li><a href="elements_testimonials.html">Testimonials</a></li>
                                                    <li><a href="elements_google_maps.html">Google Maps</a></li>
                                                    <li><a href="elements_recent_works.html">Recent Works</a></li>
                                                    <li><a href="elements_icon_combinations.html">Icon Combination</a></li>
                                                    <li><a href="elements_call_to_action.html">Call Action Banner</a></li>
                                                    <li><a href="elements_timeline.html">TimeLine</a></li>
                                                    <li><a href="elements_breadcrumbs.html">Breadcrumbs</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>Sliders</h4>
                                                <ul>
                                                    <li><a href="sections_slider_flex.html">Flex Slider Full Width</a></li>
                                                    <li><a href="sections_slider_flex_fix.html">Flex Slider Fixed</a></li>
                                                    <li><a href="sections_slider_layer.html">Layer Slider Full Width</a></li>
                                                    <li><a href="sections_slider_layer_fix.html">Layer Slider Fixed</a></li>
                                                    <li><a href="sections_slider_fullscreen.html">Full Screen Slider</a></li>
                                                    <li><a href="sections_slider_video.html">Video Slider</a></li>
                                                    <li><a href="sections_slider_video_fullscreen.html">Video Slider Full Screen</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Shortcodes</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shortcode_columns.html">Columns</a></li>
                                        <li><a href="shortcode_heading.html">Heading</a></li>
                                        <li><a href="shortcode_buttons.html">Buttons</a></li>
                                        <li><a href="shortcode_lists.html">Lists</a></li>
                                        <li><a href="shortcode_dividers.html">Dividers</a></li>
                                        <li><a href="shortcode_accordeons.html">Accordions</a></li>
                                        <li><a href="shortcode_tabs.html">Tabs</a></li>
                                        <li><a href="shortcode_blockquotes.html">Blockquote</a></li>
                                        <li><a href="shortcode_highlights.html">Highlights</a></li>
                                        <li><a href="shortcode_dropcaps.html">Drop Caps</a></li>
                                        <li><a href="shortcode_boxes.html">Message Boxes</a></li>
                                        <li><a href="shortcode_fonts.html">Google Fonts</a></li>
                                        <li><a href="shortcode_table.html">Data Tables</a></li>
                                        <li><a href="shortcode_forms.html">Forms &amp; Controls</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Portfolio</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="works_grid_3.html">Three Columns Grid</a></li>
                                        <li><a href="works_grid_4.html">Four Columns Grid</a></li>
                                        <li><a href="works_wide_4_no.html">Four Columns Wide No Category</a></li>
                                        <li><a href="works_wide_5.html">Five Columns Wide</a></li>
                                        <li><a href="works_wide_5_no.html">Five Columns Wide No Category</a></li>
                                        <li><a href="single_work_1.html">Single Work </a></li>
                                        <li><a href="single_work_2.html">Single Work 2</a></li>
                                        <li><a href="single_work_3.html">Single Work 3</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown dropdown-submenu">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Blog Standart</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog_standart.html">Standart No Sidebar</a></li>
                                                <li><a href="blog_standart_sidebar_1.html">Standart Right Sidebar</a></li>
                                                <li><a href="blog_standart_sidebar_2.html">Standart Left Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="blog_masonry.html">Blog Masonry</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog_masonry.html">Blog Masonry</a></li>
                                                <li><a href="blog_masonry_branding.html">Blog Masonry Branding</a></li>
                                                <li><a href="blog_masonry_design.html">Blog Masonry Design</a></li>
                                                <li><a href="blog_masonry_marketing.html">Blog Masonry Marketing</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog_timeline.html">Blog Timeline</a></li>
                                        <li><a href="blog_single_post_no_sidebar.html">Single Post No Sidebar</a></li>
                                        <li><a href="blog_single_post_sidebar_1.html">Single Post Right Sidebar</a></li>
                                        <li><a href="blog_single_post_sidebar_2.html">Single Post Left Sidebar</a></li>
                                        <li><a href="blog_single_post_text.html">Text Post</a></li>
                                        <li><a href="blog_single_post_photo.html">Photo Post</a></li>
                                        <li><a href="blog_single_post_gallery.html">Gallery Post</a></li>
                                        <li><a href="blog_single_post_link.html">Link Post</a></li>
                                        <li><a href="blog_single_post_quote.html">Quote Post</a></li>
                                        <li><a href="blog_single_post_audio.html">Audio Post</a></li>
                                        <li><a href="blog_single_post_youtube.html">YouTube Video Post</a></li>
                                        <li><a href="blog_single_post_vimeo.html">Vimeo Video Post</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-menushop">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Shop</a>
                                    <div class="menushop dropdown-menu">
                                        <div class="divtable">
                                        <div class="col-md-3 col-sm-4">
                                            <h4>Catalog</h4>
                                            <ul>
                                                <li><a href="catalog_grid.html">Catalog Grid</a></li>
                                                <li><a href="catalog_grid_sidebar.html">Catalog Grid Right Sidebar</a></li>
                                                <li><a href="catalog_grid_sidebar_2.html">Catalog Grid Left Sidebar</a></li>
                                                <li><a href="catalog_list.html">Catalog List</a></li>
                                                <li><a href="catalog_list_sidebar.html">Catalog List Right Sidebar</a></li>
                                                <li><a href="catalog_list_sidebar_2.html">Catalog List Left Sidebar</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <h4>Pages</h4>
                                            <ul>
                                                <li><a href="product.html">Product Page</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="cart_empty.html">Shopping Cart Empty</a></li>
                                                <li><a href="checkout.html">Proceed to Checkout</a></li>
                                                <li><a href="confirmation.html">Confirmation Page</a></li>
                                                <li><a href="compare.html">Compare Page</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 category-imgs hidden-sm">
                                            <ul>
                                                <li id="img-briefcases">
                                                    <a href="catalog_list_sidebar.html"><img src="http://placehold.it/240x192" alt=""></a>
                                                </li>
                                                <li id="img-totes">
                                                    <a href="catalog_grid_sidebar_2.html"><img src="http://placehold.it/240x193" alt=""></a>
                                                </li>
                                                <li id="img-luggage">
                                                    <a href="catalog_grid.html"><img src="http://placehold.it/240x194" alt=""></a>
                                                </li>
                                                <li id="img-technology">
                                                    <a href="catalog_grid_sidebar.html"><img src="http://placehold.it/240x195" alt=""></a>
                                                </li>
                                                <li id="img-leather">
                                                    <a href="catalog_list_sidebar_2.html"><img src="http://placehold.it/240x196" alt=""></a>
                                                </li>
                                                <li id="img-laptops">
                                                    <a href="catalog_list.html"><img src="http://placehold.it/240x197" alt=""></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <h4>Categories</h4>
                                            <ul class="shop-category">
                                                <li><a href="catalog_list_sidebar.html" data-img="img-briefcases">Briefcases &amp; Satchels</a></li>
                                                <li><a href="catalog_grid_sidebar_2.html" data-img="img-totes">Totes &amp; Messengers </a></li>
                                                <li><a href="catalog_grid.html" data-img="img-luggage">Luggage</a></li>
                                                <li><a href="catalog_grid_sidebar.html" data-img="img-technology">Technology</a></li>
                                                <li><a href="catalog_list_sidebar_2.html" data-img="img-leather">Leather Accessories</a></li>
                                                <li><a href="catalog_list.html" data-img="img-laptops">Laptops Bags</a></li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="search">
                <div class="container">
                    <form action="/">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-10">
                            <input type="text" autofocus placeholder="Start typing...">
                        </div>
                        <div class="col-md-1 col-xs-2">
                            <a href="" class="sclose"><i class="custom-icon custom-icon-lightclose"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- /.header -->

    <!-- HOME -->
    <div class="overlay home medium-size">
        <div class="bg bg-blog" data-stellar-background-ratio="0.5"></div>
        <div class="container vmiddle">
            <div class="row text-center">
                <div class="icon icon-big color icon-book-read-streamline"></div>
                <h1>Our Blog</h1>
            </div>
        </div>
    </div>
    <!-- /.home -->

    <!-- CONTENT -->
    <div class="content">

        <!-- CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <a href="blog_masonry.html" class="grey a-back">Back to Blog</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-right">
                    <div class="blog-date">
                        <span class="day">23</span>
                        <span class="mounth">Mar</span>
                    </div>
                </div>

                <!-- POST -->
                <div class="col-sm-9 post">
                    <h1>The Mystery Of The jQuery Object: Basic Introduction</h1>
                    <p class="post-inf grey">
                        <a href="about_me.html" class="grey">Susana Jacobs</a> -
                        <a href="blog_masonry_branding.html" class="grey">Branding</a>,
                        <a href="blog_masonry_marketing.html" class="grey">Marketing</a> -
                        <a href="#comments" class="grey internal">3 comments</a>
                    </p>

                    <!-- ONESLIDER -->
                    <div class="oneslider magnific-wrap">
                        <ul>
                            <li>
                                <a href="http://placehold.it/1280x972" class="magnific">
                                    <img src="http://placehold.it/840x472" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="http://placehold.it/1240x772" class="magnific">
                                    <img src="http://placehold.it/840x472" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="http://placehold.it/840x1472" class="magnific">
                                    <img src="http://placehold.it/840x472" alt="">
                                </a>
                            </li>
                        </ul>
                        <div class="slidebar">
                            <a href="#" class="arrow prev"></a>
                            <a href="#" class="arrow next"></a>
                            <nav class="pagination text-left"></nav>
                        </div>
                    </div>
                    <!-- /.oneslider -->

                    <p>Break the complete dataset of items into smaller sequential parts and show these on separate sequential pages. Provide pagination control to browse from page to page. Let the user browse to the previous and next pages by providing links to such actions. Also, provide links to the absolute start and end of the dataset (first and last).</p>
                    <p>If the dataset is of defined quantity, also show a link to the last page. If the dataset to show possibly is of varying size (for instance as a result from a search), do not bother to show a link to the last page.</p>
                    <h2 class="light">Solution</h2>
                    <p>First and foremost, pagination parts large datasets into smaller bits that are manageable for the user to read and cope with. Secondly, pagination controls conveys information to the user about, how big the dataset is, and how much is left to read or check out and how much have they already checked out.</p>
                    <h3>Rationale</h3>
                    <p>Pagination provides the user with a natural break from reading or scanning the contents of the dataset, and allows them to reevaluate whether they wish to continue looking through more data, or navigate away from the page. This is also why pagination controls are most often placed below the list: to provide the user with an option to continue reading through the larger dataset.</p>
                    <p>Web page pagination is used to control the amount of content on a gallery page and enable users to navigate back and forth through large numbers of web pages, such as search results pages, ecommerce category pages or blog archives. Pagination is a relatively simple (although often overlooked) UI element to design — the key is to make the pagination links large enough to click easily, space them out so that they cannot be clicked by mistake, and clearly indicate the page the user is currently viewing. Previous and Next links also make it easy for the user to click to the next page of resul.</p>

                    <div class="comments" id="comments">
                        <h3>3 Comments</h3>

                        <!-- .comment -->
                        <div class="comment row">
                            <div class="col-md-1 col-xs-2 ava">
                                <a href="team_person.html">
                                    <img src="http://placehold.it/68x68" alt="">
                                </a>
                            </div>
                            <div class="col-md-11 col-xs-10">
                                <div>
                                    <a href="team_person.html" class="grey">Susana Jacobs</a>,  <span class="date grey">12 july at 20:48</span> <a href="#commentform" class="internal black">Reply</a>
                                </div>
                                <p>Pagination provides the user with a natural break from reading or scanning the contents of the dataset, and allows them to reevaluate whether they wish to continue looking through more data, or navigate away from the page.</p>
                            </div>
                        </div>

                        <!-- .comment -->
                        <div class="comment row">
                            <div class="col-md-1 col-xs-2 ava col-md-offset-1 col-sm-offset-2">
                                <a href="team_person.html">
                                    <img src="http://placehold.it/68x68" alt="">
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-8 col-xs-10">
                                <div>
                                    <a href="team_person.html" class="grey">Maria Kerr,</a>,  <span class="date grey">12 july at 22:43</span> <a href="#commentform" class="internal black">Reply</a>
                                </div>
                                <p>Break the complete dataset of items into smaller sequential parts and show these on separate sequential pages. </p>
                            </div>
                        </div>

                        <!-- .comment -->
                        <div class="comment row">
                            <div class="col-md-1 col-xs-2 ava">
                                <a href="team_person.html">
                                    <img src="http://placehold.it/68x68" alt="">
                                </a>
                            </div>
                            <div class="col-md-11 col-xs-10">
                                <div>
                                    <a href="team_person.html" class="grey">Bill Scott</a>,  <span class="date grey">02 september at 12:47</span> <a href="#commentform" class="internal black">Reply</a>
                                </div>
                                <p>First and foremost, pagination parts large datasets into smaller bits that are manageable for the user to read and cope with. Secondly, pagination controls conveys</p>
                            </div>
                        </div>

                        <!-- Leave a comment -->
                        <div class="leaveacomment row" id="commentform">
                            <div class="col-md-9 col-md-offset-3">
                                <h3>Leave a Comment</h3>
                                <p class="grey">Your email address will not be published.</p>
                                <form action="/">
                                    <div class="formwrap">
                                        <div class="form-group">
                                            <label for="comment-form-name">Name *</label>
                                            <input type="text" name="name" id="comment-form-name">
                                        </div>
                                        <div class="form-group">
                                            <label for="comment-form-email">Email *</label>
                                            <input type="email" name="email" id="comment-form-email">
                                        </div>
                                        <div class="form-group">
                                            <label for="comment-form-website">Website</label>
                                            <input type="text" name="website" id="comment-form-website">
                                        </div>
                                        <div class="form-group">
                                            <label for="comment-form-comment">Comment</label>
                                            <textarea name="message" id="comment-form-comment"></textarea>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-validation btn-wd" value="Post">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.post -->
            </div>
        </div>
        <!-- /.container -->

        <!-- CONTAINER: purchase -->
        <div class="highlight darker">
            <div class="container purchase">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-9 col-md-offset-2">
                        <p class="lead">CBGram multipurpose template for business</p>
                    </div>
                    <div class="col-md-2 col-sm-3 text-left">
                        <a class="btn btn-default" href="contact_2.html">Purchase <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer">
    <!-- CONTAINER -->
    <div class="container foorow-1 foorow">
        <div class="row">
            <div class="col-md-4 col-sm-6 fabout">
                <h3><a href="about_1.html">About Us</a></h3>
                <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3><a href="elements_recent_works.html">Recent Works</a></h3>
                <nav>
                    <ul class="recentworks clearfix">
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2 col-sm-6">
                <h3><a href="sitemap.html">Links</a></h3>
                <nav>
                    <ul class="links">
                        <li><a href="sitemap.html">Presentation</a></li>
                        <li><a href="http://CBGram.aisconverse.com/docs">Documentation</a></li>
                        <li><a href="http://aisconverse.com">Support</a></li>
                        <li><a href="privacy_policy.html">Privacy Policy</a></li>
                        <li><a href="privacy_policy.html">Terms Of Use</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3><a href="blog_standart.html">Latest Posts</a></h3>
                <nav>
                    <ul class="latestposts">
                        <li>
                            <a href="blog_single_post_photo.html">Desktop Wallpaper Calendars</a>
                            <div class="date">September 21, 2014</div>
                        </li>
                        <li>
                            <a href="blog_single_post_vimeo.html">The Mystery Of The jQuery Basic Introduction</a>
                            <div class="date">December 28, 2014</div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="separator foorow-1 foorow"></div>

    <!-- CONTAINER -->
    <div class="container">
        <div class="row foorow-2 foorow">
            <div class="col-sm-4">
                <h3><a href="contact_1.html">Contact</a></h3>
                <address>
                    +44 20 7734 8000<br>
                    +44 20 7734 8945<br>
                    <a href="mailto:info@comarocompany.com">info@comarocompany.com</a><br>
                    <br>
                    Le Meridien Piccadilly, 21 Piccadilly<br>
                    London W1J 0BH, United Kingdom
                </address>
            </div>
            <div class="col-md-5 col-sm-4">
                <h3>Twitter Feed</h3>
                <ul class="twitter-list">
                    <li>
                        <div class="fa fa-twitter"></div><p><a href="">@CBGram:</a> Utnon enim eleifend felis pretium feugiat <a href="">goo.gl/56Rt78</a> famesac turpis egestas</p>
                        <div class="date">June 18, 2014</div>
                    </li>
                    <li>
                        <div class="fa fa-twitter"></div><p><a href="">@CBGram:</a> Mellentesque habitant morbi tristique senectus et netus et malesuada <a href="">goo.gl/A65qt</a> enim eleifend felis pretium</p>
                        <div class="date">September 8, 2014</div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>Newsletter</h3>
                <div id="feedback-form">
                    <form action="http://aisconverse.us8.list-manage.com/subscribe/post?u=86ec31fd6b7533ccaa2435111&amp;id=a1293dd461" method="post">
                        <input name="EMAIL" placeholder="Your Email" required type="email" class="pull-left">
                        <button type="submit" class="btn btn-default pull-right">Ok</button>
                    </form>
                    <div class="success-block"></div>
                    <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.</p>
                </div>
            </div>
        </div>

        <div class="row foorow-3 foorow">
            <div class="col-md-6 col-sm-7">
                <a href="index.html" class="logo">CBGram</a>
                <p>&copy; 2014 CBGram. All Rights Reserved</p>
            </div>
            <div class="col-md-6 col-sm-5">
                <ul class="social pull-right">
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-github-alt"></i></a></li>
                    <li><a href=""><i class="fa fa-tumblr-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->

<!-- Popup: Login -->
<div class="block-popup popup plogin" id="login">
    <a href="" class="pclose small"><i class="custom-icon custom-icon-close-s"></i></a>
    <h3 class="text-center">Login to account</h3>
    <form action="/" class="loginform">
        <div class="formwrap">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control login-password" placeholder="Password" id="login-password">
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Remember me
            </label>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-default block btn-validation">Login</button>
            <a href="">Forgot password?</a>
        </div>
    </form>
    <div class="footlogin highlight text-center">
        <ul class="social">
            <li><a href="" class="fa fa-facebook-square"></a></li>
            <li><a href="" class="fa fa-twitter"></a></li>
            <li><a href="" class="fa fa-google-plus-square"></a></li>
        </ul>
        <p>Or login with your social account</p>
    </div>
    <a href="privacy_policy.html" class="a-privacy text-center">Privacy Policy</a>
</div>
<!-- /.popup -->

<!-- Sidemenu -->
<div class="sidemenu">
    <a href="" class="sclose"><i class="custom-icon custom-icon-lightclose"></i></a>
    <h4>Shortcodes</h4>
    <nav>
        <ul>
            <li><a href="shortcode_columns.html">Columns</a></li>
            <li><a href="shortcode_heading.html">Heading</a></li>
            <li><a href="shortcode_buttons.html">Buttons</a></li>
            <li><a href="shortcode_lists.html">Lists</a></li>
            <li><a href="shortcode_dividers.html">Dividers</a></li>
            <li><a href="shortcode_accordeons.html">Accordions</a></li>
            <li><a href="shortcode_tabs.html">Tabs</a></li>
            <li><a href="shortcode_blockquotes.html">Blockquote</a></li>
            <li><a href="shortcode_highlights.html">Highlights</a></li>
            <li><a href="shortcode_dropcaps.html">Drop Caps</a></li>
            <li><a href="shortcode_boxes.html">Message Boxes</a></li>
            <li><a href="shortcode_fonts.html">Google Fonts</a></li>
            <li><a href="shortcode_table.html">Data Tables</a></li>
            <li><a href="shortcode_forms.html">Forms &amp; Controls</a></li>
        </ul>
    </nav>
    <div class="hcart">
        <a href="cart.html"><i class="custom-icon custom-icon-ico-cart-w"></i> 4 items - $164,50</a>
    </div>
    <div class="login">
        <a href="" data-popup="login" class="btn btn-inverse">Login</a>
    </div>
    <ul class="social">
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
</div>
<!-- /.sidemenu -->

<!-- ScrollTop Button -->
<a href="#" class="scrolltop">
    <i class="custom-icon custom-icon-scrolltop"></i>
</a>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.plugins.js"></script>
<script src="js/custom.js"></script>
</body>
</html>