<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>CBGram</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- CBGram - Express Site CB Grammatica - v.1.0 -->
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- WRAPPER -->
<div class="wrapper">

    <!-- HOME -->
    <div class="home">
        <!-- ONESLIDER -->
        <div class="oneslider full-size">
            <ul>
                <li class="overlay">
                    <div class="bg bg-about"></div>
                    <div class="container vmiddle">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2 text-center">
                                <h1>Welcome to <span class="color">CBGram</span></h1>
                            </div>
                            <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                                <p class="color-ccc">Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="overlay">
                    <div class="bg bg-gallery"></div>
                    <div class="container vmiddle">
                        <div class="row text-center">
                            <div class="icon-big color icon icon-picture-streamline"></div>
                            <h1>Our Photo Gallery</h1>
                        </div>
                    </div>
                </li>
                <li class="overlay">
                    <div class="bg bg-team"></div>
                    <div class="container vmiddle">
                        <div class="row text-center">
                            <div class="col-sm-4 col-sm-offset-4  col-xs-8 col-xs-offset-2">
                                <div class="icon icon-big color icon-chaplin-hat-movie-streamline"></div>
                                <h1>Behind the Scenes</h1>
                                <p class="color-ccc">Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="slidebar">
                <a href="#" class="arrow prev"><i class="custom-icon custom-icon-arrow-prev"></i></a>
                <a href="#" class="arrow next"><i class="custom-icon custom-icon-arrow-next"></i></a>
                <nav class="pagination"></nav>
            </div>
        </div>
        <!-- /.oneslider -->
    </div>
    <!-- /.home -->

    <!-- CONTENT -->
    <div class="content">

        <!-- CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>What We Do</h2>
                    <p class="grey">Dummy text of the printing and typesetting industry</p>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h3>Graphic Design</h3>
                    <p>Dummy text of the printing and<br> typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Video Production</h3>
                    <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <h3>Web Development</h3>
                    <p>Dummy text of the printing and<br> typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy.</p>
                </div>
                <div class="col-sm-4">
                    <a href="contact_2.html" class="btn btn-primary">Get a Quote</a>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <!-- CONTAINER: Logos -->
        <div class="container slider logos text-center">
            <div class="row">
                <ul>
                    <li><a href="clients_1.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_2.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_1.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_2.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_1.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_2.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_1.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_2.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_1.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_2.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_1.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                    <li><a href="clients_2.html"><img src="http://placehold.it/200x110" alt=""></a></li>
                </ul>
            </div>
            <div class="slidebar">
                <a href="#" class="arrow prev"><i class="custom-icon custom-icon-arrow-prev"></i></a>
                <a href="#" class="arrow next"><i class="custom-icon custom-icon-arrow-next"></i></a>
                <nav class="pagination"></nav>
            </div>
        </div>
        <!-- /.container -->

        <!-- CONTAINER: purchase -->
        <div class="highlight darker">
            <div class="container purchase">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-9 col-md-offset-2">
                        <p class="lead">CBGram multipurpose template for business</p>
                    </div>
                    <div class="col-md-2 col-sm-3 text-left">
                        <a class="btn btn-default" href="contact_2.html">Purchase <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer">
    <!-- CONTAINER -->
    <div class="container foorow-1 foorow">
        <div class="row">
            <div class="col-md-4 col-sm-6 fabout">
                <h3><a href="about_1.html">About Us</a></h3>
                <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3><a href="elements_recent_works.html">Recent Works</a></h3>
                <nav>
                    <ul class="recentworks clearfix">
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                        <li>
                            <a href="elements_recent_works.html"><img src="http://placehold.it/80x80" alt=""/></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2 col-sm-6">
                <h3><a href="sitemap.html">Links</a></h3>
                <nav>
                    <ul class="links">
                        <li><a href="sitemap.html">Presentation</a></li>
                        <li><a href="http://CBGram.aisconverse.com/docs">Documentation</a></li>
                        <li><a href="http://aisconverse.com">Support</a></li>
                        <li><a href="privacy_policy.html">Privacy Policy</a></li>
                        <li><a href="privacy_policy.html">Terms Of Use</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3><a href="blog_standart.html">Latest Posts</a></h3>
                <nav>
                    <ul class="latestposts">
                        <li>
                            <a href="blog_single_post_photo.html">Desktop Wallpaper Calendars</a>
                            <div class="date">September 21, 2014</div>
                        </li>
                        <li>
                            <a href="blog_single_post_vimeo.html">The Mystery Of The jQuery Basic Introduction</a>
                            <div class="date">December 28, 2014</div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="separator foorow-1 foorow"></div>

    <!-- CONTAINER -->
    <div class="container">
        <div class="row foorow-2 foorow">
            <div class="col-sm-4">
                <h3><a href="contact_1.html">Contact</a></h3>
                <address>
                    +44 20 7734 8000<br>
                    +44 20 7734 8945<br>
                    <a href="mailto:info@comarocompany.com">info@comarocompany.com</a><br>
                    <br>
                    Le Meridien Piccadilly, 21 Piccadilly<br>
                    London W1J 0BH, United Kingdom
                </address>
            </div>
            <div class="col-md-5 col-sm-4">
                <h3>Twitter Feed</h3>
                <ul class="twitter-list">
                    <li>
                        <div class="fa fa-twitter"></div><p><a href="">@CBGram:</a> Utnon enim eleifend felis pretium feugiat <a href="">goo.gl/56Rt78</a> famesac turpis egestas</p>
                        <div class="date">June 18, 2014</div>
                    </li>
                    <li>
                        <div class="fa fa-twitter"></div><p><a href="">@CBGram:</a> Mellentesque habitant morbi tristique senectus et netus et malesuada <a href="">goo.gl/A65qt</a> enim eleifend felis pretium</p>
                        <div class="date">September 8, 2014</div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>Newsletter</h3>
                <div id="feedback-form">
                    <form action="http://aisconverse.us8.list-manage.com/subscribe/post?u=86ec31fd6b7533ccaa2435111&amp;id=a1293dd461" method="post">
                        <input name="EMAIL" placeholder="Your Email" required type="email" class="pull-left">
                        <button type="submit" class="btn btn-default pull-right">Ok</button>
                    </form>
                    <div class="success-block"></div>
                    <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.</p>
                </div>
            </div>
        </div>

        <div class="row foorow-3 foorow">
            <div class="col-md-6 col-sm-7">
                <a href="index.html" class="logo">CBGram</a>
                <p>&copy; 2014 CBGram. All Rights Reserved</p>
            </div>
            <div class="col-md-6 col-sm-5">
                <ul class="social pull-right">
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-github-alt"></i></a></li>
                    <li><a href=""><i class="fa fa-tumblr-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->

<!-- Popup: Login -->
<div class="block-popup popup plogin" id="login">
    <a href="" class="pclose small"><i class="custom-icon custom-icon-close-s"></i></a>
    <h3 class="text-center">Login to account</h3>
    <form action="/" class="loginform">
        <div class="formwrap">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control login-password" placeholder="Password" id="login-password">
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Remember me
            </label>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-default block btn-validation">Login</button>
            <a href="">Forgot password?</a>
        </div>
    </form>
    <div class="footlogin highlight text-center">
        <ul class="social">
            <li><a href="" class="fa fa-facebook-square"></a></li>
            <li><a href="" class="fa fa-twitter"></a></li>
            <li><a href="" class="fa fa-google-plus-square"></a></li>
        </ul>
        <p>Or login with your social account</p>
    </div>
    <a href="privacy_policy.html" class="a-privacy text-center">Privacy Policy</a>
</div>
<!-- /.popup -->

<!-- Sidemenu -->
<div class="sidemenu">
    <a href="" class="sclose"><i class="custom-icon custom-icon-lightclose"></i></a>
    <h4>Shortcodes</h4>
    <nav>
        <ul>
            <li><a href="shortcode_columns.html">Columns</a></li>
            <li><a href="shortcode_heading.html">Heading</a></li>
            <li><a href="shortcode_buttons.html">Buttons</a></li>
            <li><a href="shortcode_lists.html">Lists</a></li>
            <li><a href="shortcode_dividers.html">Dividers</a></li>
            <li><a href="shortcode_accordeons.html">Accordions</a></li>
            <li><a href="shortcode_tabs.html">Tabs</a></li>
            <li><a href="shortcode_blockquotes.html">Blockquote</a></li>
            <li><a href="shortcode_highlights.html">Highlights</a></li>
            <li><a href="shortcode_dropcaps.html">Drop Caps</a></li>
            <li><a href="shortcode_boxes.html">Message Boxes</a></li>
            <li><a href="shortcode_fonts.html">Google Fonts</a></li>
            <li><a href="shortcode_table.html">Data Tables</a></li>
            <li><a href="shortcode_forms.html">Forms &amp; Controls</a></li>
        </ul>
    </nav>
    <div class="hcart">
        <a href="cart.html"><i class="custom-icon custom-icon-ico-cart-w"></i> 4 items - $164,50</a>
    </div>
    <div class="login">
        <a href="" data-popup="login" class="btn btn-inverse">Login</a>
    </div>
    <ul class="social">
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
    </ul>
</div>
<!-- /.sidemenu -->

<!-- ScrollTop Button -->
<a href="#" class="scrolltop">
    <i class="custom-icon custom-icon-scrolltop"></i>
</a>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.plugins.js"></script>
<script src="js/custom.js"></script>
</body>
</html>