<!DOCTYPE html>
<html class="page404">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>CBGram</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- CBGram - Express Site CB Grammatica - v.1.0 -->
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- WRAPPER -->
<div class="wrapper">

    <!-- HEADER -->
    <header class="header centered">
        <div class="container htop">
            <div class="row text-center">
                <div class="logo">
                    <a href="index.html">CBGram</a>
                </div>
                <div class="slogan">Express Site CB Grammatica</div>
            </div>
        </div>
    </header>
    <!-- /.header -->

    <!-- CONTENT -->
    <div class="content container">
        <div class="page-header page-under text-center">
            <h1>
                <span class="icon icon-settings-streamline-2 color"></span>
                Under Construction
                <small>Website is under construction!</small>
            </h1>
        </div>

        <div class="col-md-4">
            <h3>About Us</h3>
            <p>Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat.</p>
        </div>
        <div class="col-md-4">
            <h3>Contact Us</h3>
            <p>Le Meridien Piccadilly, 21 Piccadilly<br> London W1J 0BH, United Kingdom</p>
            <p>+44 20 7734 8000<br>
                +44 20 7734 8945</p>
            <p><a href="mailto:support@CBGram.com">support@CBGram.com</a></p>
        </div>
        <div class="col-md-4">
            <h3>Follow Us</h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
            <ul class="social">
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fa fa-github-alt"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

<footer class="text-center">
    <p>&copy; 2014 CBGram. All Rights Reserved</p>
</footer>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.plugins.js"></script>
<script src="js/custom.js"></script>
</body>
</html>